@import "tailwindcss";

/* قواعد عامة */
html, body, #root {
  height: 100%;
}

body {
  @apply bg-white text-gray-700;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.card-shadow {
  box-shadow: 0 6px 18px rgba(17,24,39,0.06), 0 2px 6px rgba(17,24,39,0.04);
}

.right-card {
  @apply bg-white rounded-xl p-4 border border-gray-100;
  box-shadow: 0 6px 18px rgba(17,24,39,0.06), 0 2px 6px rgba(17,24,39,0.04);
}

.map-container {
  height: calc(100vh - 40px);
}

/* ده بيلغى الكلام اللى بيكون تحت الخريطه اللى هو ده 
Esri, TomTom, Garmin, SafeGraph, GeoTechnologies, Inc, METI/NASA, USGS, EPA, NPS, USDA, USFWS
Powered by Esri  */
.esri-attribution {
  display: none !important;
}

